<template>
  <div class="home">
    <div class="container">
      <Menu />
      <SubMenu v-if="selectedMenu" />
      <Content v-if="selectedItem" />
    </div>
  </div>
</template>

<script>
import Menu from '../components/Menu.vue'
import SubMenu from '../components/SubMenu.vue'
import Content from '../components/Content.vue'
import useMenuStore from '../stores'
import { computed } from 'vue'

export default {
  components: {
    Menu,
    SubMenu,
    Content
  },
  setup() {
    const menuStore = useMenuStore()
    const selectedMenu = computed(() => menuStore.selectedMenu)
    const selectedItem = computed(() => menuStore.selectedItem)

    return { selectedMenu, selectedItem }
  }
}

</script>

<style scoped>
.home {
  display: flex;
  height: 100%;
  background-color: green;
}


.container {
  display: flex;
  flex-direction:row-reverse;
  width: 100vh;
}


</style>
