<template>
  <div class="content" v-if="selectedItem">
    <h1>{{ selectedItem }}</h1>
  </div>
</template>

<script>
import { useMenuStore } from '../stores'
import { computed } from 'vue'

export default {
  setup() {
    const menuStore = useMenuStore()
    const selectedItem = computed(() => menuStore.selectedItem)

    return { selectedItem }
  }
}
</script>

<style scoped>
.content {
  flex: 1;
  padding: 20px;
  color: white;
  width: 100vh;
  background-color: red;
}

</style>
