<template>
  <div class="list">
    <ul class="list"> 
      <li @click="selectMenu('submenu1')">Menu 1</li>
      <li @click="selectMenu('submenu2')">Menu 2</li>
      <li @click="selectMenu('submenu3')">Menu 3</li>
    </ul>
  </div>
</template>

<script>
import { useMenuStore } from '../stores'

export default {
  setup() {
    const menuStore = useMenuStore()
    const selectMenu = menuStore.selectMenu

    return { selectMenu }
  }
}
</script>

<style scoped>
.menu {
  width: 250px;
  padding: 10px;
}
.menu ul {
  list-style-type: none;
  padding: 0;
}
.list {
  justify-content: end;
}
.menu li {
  cursor: pointer;
  padding: 10px 0;
}
</style>
