<template>
  <div class="submenu">
    <ul>
      <li v-for="item in submenuItems" :key="item" @click="selectItem(item)">
        {{ item }}
      </li>
    </ul>
  </div>
</template>

<script>
import { useMenuStore } from '../stores'
import { computed } from 'vue'

export default {
  setup() {
    const menuStore = useMenuStore()
    const submenuItems = computed(() => menuStore.submenuItems)
    const selectItem = menuStore.selectItem

    return { submenuItems, selectItem }
  }
}
</script>

<style scoped>
.submenu {
  background-color: #1500ff;
  width: 200px;
  padding: 10px;
  color: black;
}
.submenu ul {
  list-style-type: none;
  padding: 0;
}
.submenu li {
  cursor: pointer;
  padding: 10px 0;
}
</style>
