<script setup>
import { RouterLink, RouterView } from 'vue-router'
import Home from './views/Home.vue'

</script>

<template>
  <!-- <header> -->
    <!-- <img alt="Vue logo" class="logo" src="@/assets/logo.svg" width="125" height="125" /> -->


   <!-- <nav>
      <RouterLink to="/home">Home</RouterLink>
      </nav>
    <!-- <div class="wrapper">
      <HelloWorld msg="You did it!" />

      <nav>
        <RouterLink to="/">Home</RouterLink>
        <RouterLink to="/about">About</RouterLink>
         <RouterLink to="/home">Home</RouterLink>
      </nav> 
     </div> -->
  <!-- </header>  -->
  <div id="app" class="app-container">
  <Home />
  </div>
  <!-- <RouterView /> -->
</template>

<style scoped>
/* header {
  line-height: 1.5;
  max-height: 100vh;
} */

#app {
  height: 100vh; /* This ensures the app container takes up the full viewport height */
  display: flex;
  flex-direction: column;
  background-color: green;
  fill: green;

}
.app-container{
  width: 100vh;
  background-color: green;
  height: 100vh;
}

body > div {
	background: #aaa;
	display: flex;
	flex-wrap: wrap;
}
body > div > div {
	flex-grow: 1;
	width: 33%;
	height: 100px;
}
body > div > div:nth-child(even) {
	background: #23a;
}
body > div > div:nth-child(odd) {
	background: #49b;
}
</style>
